@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root{
  --main-font: 'Courgette', cursive;
  --main-text-color-dark: rgb(63, 63, 63);
  --main-text-color-light: white;
  --effect-color: rgba(64,64,64,0.44);
  --main-bg-color-light: #D2BAAD;
  --main-bg-color-dark: #967F73;
  --main-search-color: rgb(46, 46, 46);


}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}



.nav{
  position: fixed;
  top: 2rem;
  left: 8rem;
  z-index: 100;
  display: flex;
  align-items: center;
}

.drop-menu{
  display: flex;
  align-items: center;
  height: 40px;
}

.drop-menu > *{
  margin: 0 .5rem;
}

.drop-btn{
  outline: transparent;
  border: none;
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  transition: all .1s ease-in;
  color: var(--main-text-color-dark);
  
}

.drop-btn.clicked{
  transform: rotate(180deg);
}

.drop-btn-container:hover{
  transform: scale(1.2);
}

 .input{
transform: translateY( -8rem);
transition: all .2s ease-in ;

}

.input.clicked{
  transform: translateY(0);
}

.about-btn-container{
  position: absolute;
  top: 6.5rem;
  left: 8rem;
}

.about-btn{
  font-family: var(--main-font);
  color: var(--main-text-color-dark);
  background: none;
  border: none;
  outline: transparent;
  cursor: pointer;
  padding: .25rem .5rem;
  font-size: 1.5rem;
  height: inherit;
  width: inherit;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.about-btn:hover{
text-decoration: underline;  
}



.input{
  height: inherit;
  outline: transparent;
}

.input input {
  font-family: var(--main-font);
  height: inherit;
  border: 2px solid var(--effect-color);
  width: 600px;
  background-color: var(--main-bg-color-dark);
  color: var(--main-search-color);
  font-size: 1.3rem;
  padding: 0;
  padding-left: 5px;
  outline: transparent;
  border-radius: 0;
}

input::placeholder{
  color: var(--main-bg-color-light)
}



ul{
  width: 605px;
  height: initial;
  background: white;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 2px solid var(--effect-color);
  border-top: none;
  background-color: var(--main-bg-color-dark);
  visibility: hidden;
  opacity: 0;
}

ul.clicked{
  visibility: visible;
  opacity: 1;
}

li{
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0;
  position: relative;
  border-radius: none;
  background-color: var(--main-bg-color-dark);

}

button.search-btn{
  font-family: var(--main-font);
  color: var(--main-search-color);
  background: none;
  font-size: 1.3rem;
  height: inherit;
  width: inherit;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 10px 5px;
  transition: all .15s ease-out;
}

button.search-btn:hover{
  background: var(--main-bg-color-light);
}




h1{
  padding: 0;
  margin: 0;
  font-size: 3.5rem;
  color: var(--main-text-color-dark);
  font-family: var(--main-font);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.about-page-main{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 300;
  visibility: hidden;
  opacity: none;
  backdrop-filter: blur(11px);
  font-family: var(--main-font);
  color: var(--main-text-color-light);
}

.about-page-main h2{
  font-size: 3rem;
  color: var(--main-text-color-dark);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.about-page-main p{
  font-size: 1.5rem;
  color: var(--main-text-color-dark);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  margin: 2rem 0;
}

.about-page-main a{
  margin-top: 8rem;
  font-size: 1.2rem;
  color: var(--main-text-color-dark);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.about-page-main a:hover{
  color: #0000EE;
}




.about-page-main.clicked{
  visibility: visible;
  opacity: 1;
}

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}


/* All mapbox related below */


.mapboxgl-container{
  position: fixed;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;
  outline: none;
}

.marker-btn:hover{
  background: var(--effect-color);
-webkit-box-shadow: 0px 2px 15px 5px rgba(64,64,64,0.66);
-moz-box-shadow: 0px 2px 15px 5px rgba(64,64,64,0.66);
box-shadow: 0px 2px 15px 5px rgba(64,64,64,0.66);

}

.marker-btn.clicked{
  background: rgba(0,0,0,.3);
-webkit-box-shadow: 0px 2px 15px 5px rgba(64,64,64,0.66);
-moz-box-shadow: 0px 2px 15px 5px rgba(64,64,64,0.66);
box-shadow: 0px 2px 15px 5px rgba(64,64,64,0.66);

}



.marker-btn img {
  width: 30px;
  height: 30px;
}

/* Marker tweaks */

.mapboxgl-popup {
  transition: all .2s ease-in;
  z-index: 200;
}
.mapboxgl-popup-close-button {
  color: white;
  font-size: 1.5rem;
}
.mapboxgl-popup-close-button:hover {
  text-decoration: underline;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 450px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1rem;
}

.mapboxgl-popup-content h3 {
  background:#61524a;
  font-size: 1.3rem;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-family: var(--main-font);
  color: #fff;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;


  font-weight: 700;
}


.mapboxgl-popup-content p {
  margin: 10px;
  font-family: var(--main-font);

}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
}


/* Mid screen */
@media only screen and (max-width: 600px){
h1{
  font-size: 1.7rem;
}

.header{
  position: fixed;
  width: 100vw;
  padding: 0;
  left: auto;
  margin-left: 25vw;
  top: 4rem;
  z-index: 10;
}

.about {
  position: fixed;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 25vwn;
}


}

