@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

 /*variables */

:root{
  --main-font: 'Courgette', cursive;
  --second-font: 'Arial';
  --main-text-color-dark: rgb(63, 63, 63);
  --main-text-color-light: white;
  --effect-color: rgba(64,64,64,0.44);
  --main-bg-color-light: #D2BAAD;
  --main-bg-color-dark: #967F73;
  --main-search-color: rgb(46, 46, 46);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}


/* nav / header */

.nav-control{
  z-index: 1000;
}

.nav-control.hide{
  display: none;
}


.nav{
  position: fixed;
  top: 2rem;
  left: 8rem;
  z-index: 100;
  display: flex;
  align-items: center;
}

.nav h1{
  margin-right: .5rem;
}

/* Drop Menu */
.drop-menu{
  display: flex;
  align-items: center;
  height: 40px;
}

.drop-menu > *{
  margin: 0 .5rem;
}

.drop-btn{
  display: none;
}

.drop-btn.clicked{
  transform: rotate(180deg);
}

.drop-btn-container:hover{
  transform: scale(1.2);
}


/* About Link */


.about-btn-container{
  position: absolute;
  top: 5.5rem;
  left: 0;
}

.about-btn{
  font-family: var(--main-font);
  color: var(--main-text-color-dark);
  position: relative;
  background: none;
  border: none;
  border-bottom: 3px dashed transparent;
  outline: transparent;
  cursor: pointer;
  padding: .1rem .5rem;
  font-size: 1.5rem;
  height: inherit;
  width: inherit;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  transition: all .1s ease-in;
}


.about-btn:hover{
  border-bottom: 3px dashed var(--main-text-color-dark);
}

/* Search Bar */

.input{
  transform: translateY(0);
  transition: all .2s ease-in ;
  height: inherit;
  outline: transparent;
  visibility: visible;
  opacity: 1;
}


.input input {
  font-family: var(--main-font);
  height: inherit;
  border: 3px dashed var(--effect-color);
  width: 600px;
  background-color: var(--main-bg-color-light);
  color: var(--main-search-color);
  font-size: 1.3rem;
  padding: 0;
  padding-left: 5px;
  outline: transparent;
  border-radius: 0;
}

.input input:focus {
  border-color: var(--main-text-color-dark);
}

.input.clicked{
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}


input::placeholder{
  color: var(--main-bg-color-dark);
}


/* Search Results */

ul{
  width: inherit;
  height: initial;
  background: white;
  padding: .5rem;
  margin: 0;
  list-style: none;
  border: 3px dashed var(--main-text-color-dark);
  border-top: none;
  background-color: var(--main-bg-color-light);
  visibility: hidden;
  opacity: 0;
  z-index: 1500;
}

ul.clicked{
  visibility: visible;
  opacity: 1;
}

li{
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0;
  position: relative;
  border-radius: none;
  background-color: var(--main-bg-color-light);

}

button.search-btn{
  font-family: var(--main-font);
  color: var(--main-search-color);
  background: none;
  font-size: 1.3rem;
  height: inherit;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 10px 5px;
  transition: all .15s ease-out;
}

button.search-btn:hover{
  background: var(--main-bg-color-dark);
}

button.search-btn:focus{
  background: var(--main-bg-color-dark);
  outline: none;
}


h1{
  padding: 0;
  margin: 0;
  font-size: 3.5rem;
  font-family: var(--main-font);
  color: var(--main-text-color-dark);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}


/* About Component */

.about-page-main{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 300;
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: none;
  backdrop-filter: blur(11px);
  font-family: var(--main-font);
  color: var(--main-text-color-light);
  align-items: flex-start;

}

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70vw;
  border: 4px dashed var(--effect-color);
  margin-top: 5vh;
  padding: 2rem;

}

.about-page-main h2{
  font-size: 3rem;
  color: var(--main-text-color-dark);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.about-page-main p{
  font-size: 1.5rem;
  color: var(--main-text-color-light);
  text-shadow: -1px -1px 0 var(--main-text-color-dark), 1px -1px 0 var(--main-text-color-dark), -1px 1px 0 var(--main-text-color-dark), 1px 1px 0 var(--main-text-color-dark);
  margin: 2rem 0;
}

.about-page-main .about-btn{
  color: var(--main-text-color-light);
  text-shadow: -1px -1px 0 var(--main-text-color-dark), 1px -1px 0 var(--main-text-color-dark), -1px 1px 0 var(--main-text-color-dark), 1px 1px 0 var(--main-text-color-dark);
  font-size: 1.8rem;
  width: initial;
  height: initial;
}

.about-page-main a{
  margin-top: 8rem;
  font-size: 1.5rem;
  color: var(--main-text-color-dark);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;

}

.about-page-main a:hover{
  color: #0000EE;
}

.about-page-main .about-design-credit{
  margin-top: 2rem;
  font-size: 1.0rem;
  font-family: var(--second-font);
  color: var(--main-text-color-dark);
  text-shadow: none;
}

.about-page-main.clicked{
  visibility: visible;
  opacity: 1;
}




/* All mapbox related below */


.mapboxgl-container{
  position: fixed;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;
  outline: none;
}

.marker-btn:hover{
  background: var(--effect-color);
-webkit-box-shadow: 0px 2px 15px 5px rgba(64,64,64,0.66);
-moz-box-shadow: 0px 2px 15px 5px rgba(64,64,64,0.66);
box-shadow: 0px 2px 15px 5px rgba(64,64,64,0.66);

}

.marker-btn.clicked{
  background: rgba(0,0,0,.3);
-webkit-box-shadow: 0px 2px 15px 5px rgba(64,64,64,0.66);
-moz-box-shadow: 0px 2px 15px 5px rgba(64,64,64,0.66);
box-shadow: 0px 2px 15px 5px rgba(64,64,64,0.66);

}



.marker-btn img {
  width: 30px;
  height: 30px;
}

/* Marker tweaks */

.mapboxgl-popup {
  transition: all .2s ease-in;
  z-index: 200;

}
.mapboxgl-popup-close-button {
font-size: 2rem;
color: var(--main-text-color-dark);

}

.mapboxgl-popup-close-button:hover {
  text-decoration: underline;
  background: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 450px;
  border: 3px dashed var(--main-bg-color-dark);
  background-color: var(--main-bg-color-light);
}

.mapboxgl-popup-content-wrapper {
  padding: 1rem;
}

.mapboxgl-popup-content h3 {
  font-size: 1.5rem;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 0;
  border-bottom: 3px dashed var(--main-bg-color-dark);
  font-family: var(--main-font);
  color: var(--main-text-color-light);
  text-shadow: -1px -1px 0 var(--main-text-color-dark), 1px -1px 0 var(--main-text-color-dark), -1px 1px 0 var(--main-text-color-dark), 1px 1px 0 var(--main-text-color-dark);
  font-weight: 400;
}


.mapboxgl-popup-content p {
  margin: 10px;
  font-family: var(--main-font);
  font-size: 1.1rem;
  word-break: break-word;

}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: var(--main-text-color-dark);
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: var(--main-text-color-dark);
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-top-color: var(--main-text-color-dark);
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: var(--main-text-color-dark);
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: var(--main-text-color-dark);
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
  border-top-color: var(--main-text-color-dark);

}

/*  Media Queries */
@media only screen and (max-width: 1400px){
  .nav{
    left: 6rem;
  }
  
.nav h1{
  font-size: 2.5rem;
}


.about-container a{
  margin-top: 4rem;
}

.about-btn-container{
  top: 4rem;
}

.input input{
  width: 500px;
}


}

@media only screen and (max-width: 960px){

.nav h1{
  font-size: 1.7rem;
}

.input input{
  width: 300px;
}

.about-btn-container{
  top: 3rem;
}

.about-btn{
  font-size: 1.3rem;
}
}


@media only screen and (max-width: 768px){
  .nav{
    top: .5rem;
    flex-direction: column;
    left: 0;
    width: 100vw;
    height: 50px;
  }

  .nav h1{
    margin: none;
  }

  .nav .drop-btn{
    margin: 0;
  }

  .drop-btn{
    outline: transparent;
    border: none;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    transition: all .1s ease-in;
    color: var(--main-text-color-dark);
    display: block;
  }

  .input{
    transform: translateY(-10rem);
    transition: all .2s ease-in ;
    height: inherit;
    outline: transparent;
    visibility: hidden;
    opacity: 0;
  }


  .input, .about-btn-container{
    transform: translateY(-15rem);
  }

  .input input{
    width: 85vw;
    border: 2px dashed var(--effect-color);
    margin-top: .5rem;
  }

  .input.clicked{
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

  .about-container {
    height: 70vh;
    margin-top: 10vh;
  }

.about-page-main h2{
margin: 1rem 0;
}
  ul{
    border: 2px dashed var(--effect-color);
    border-top: none;
  }



  .about-btn-container{
    position: static;
    transform: translateY(-10rem);
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in ;
  }

  .about-btn{
    border: 2px dashed var(--effect-color);
    background: var(--main-bg-color-light);
    color: var(--main-text-color-dark);
    text-shadow: none;
  }

  .about-btn-container.clicked{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }

  .drop-btn-container:hover{
    transform: scale(1);
  }


.mapboxgl-popup-content {
  width: 80vw;
  }
}


@media only screen and (orientation: landscape) and (max-height: 500px){
  .about-container{
    height: 65vh;
    padding: 1rem;
  }
  .about-page-main h2, .about-page-main p, .about-page-main a{
    margin: .5rem 0;
    padding: 0;
  }

}